// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@font-face {
  font-family: "Snowstorm Inline";
  src: url("../assets/font/SnowstormInline.woff2") format("woff2"),
    url("../assets/font/SnowstormInline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Redwing";
//   src: url("../assets/font/Redwing-Light.woff2") format("woff2"),
//     url("../assets/font/Redwing-Light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Redwing";
//   src: url("../assets/font/Redwing-Light.woff2") format("woff2"),
//     url("../assets/font/Redwing-Light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Redwing";
//   src: url("../assets/font/Redwing-Medium.woff2") format("woff2"),
//     url("../assets/font/Redwing-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Redwing";
//   src: url("../assets/font/Redwing-Medium.woff2") format("woff2"),
//     url("../assets/font/Redwing-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Calibri";
  src: url("../assets/font/Calibri/Calibri.ttf");
}
@font-face {
  font-family: "calibrib";
  src: url("../assets/font/Calibri/calibrib.ttf");
}
@font-face {
  font-family: "calibril";
  src: url("../assets/font/Calibri/calibril.ttf");
}
